In [1]:
#imports
import pandas as pd
from datetime import datetime

In [2]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_All.csv'
initial_data = pd.read_csv(data_path)

/var/folders/n3/spvzfspj1gn51bldz75lhrt40000gn/T/ipykernel_2032/3892218257.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_data = pd.read_csv(data_path)

In [3]:
# copy data (it's faster to copy than to load it again)
bike_data = initial_data.copy()

In [4]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_Hourly_Weather.csv'
weather_data = pd.read_csv(data_path)

In [5]:
# convert datetime data
bike_data['started_at'] = pd.to_datetime(bike_data['started_at'])
bike_data['ended_at'] = pd.to_datetime(bike_data['ended_at'])

In [6]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8180626 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 811.4+ MB

In [7]:
weather_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9
...,...,...,...,...,...,...,...,...,...
21859,2021-02-19,3,NaN,NaN,NaN,-1.6,93,51,10.4
21860,2021-03-14,2,NaN,NaN,NaN,2.9,56,0,13.9
21861,2022-01-04,2,NaN,NaN,NaN,-8.7,77,0,10.1
21862,2022-03-13,2,NaN,NaN,NaN,-5.1,50,0,21.1
21863,2023-03-12,2,NaN,NaN,NaN,0.9,72,0,6.4

In [8]:
# Concatenate 'Date' and 'Hour' columns and convert to datetime
weather_data['Datetime'] = pd.to_datetime(weather_data['Date'] + ' ' + weather_data['Hour'].astype(str), format='%Y-%m-%d %H')

In [9]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     21864 non-null  object
 1   Hour                     21864 non-null  int64
 2   Casual                   21853 non-null  float64
 3   Member                   21853 non-null  float64
 4   Total_rides              21853 non-null  float64
 5   temperature_2m (°C)      21864 non-null  float64
 6   relativehumidity_2m (%)  21864 non-null  int64
 7   weathercode (wmo code)   21864 non-null  int64
 8   windspeed_10m (km/h)     21864 non-null  float64
 9   Datetime                 21864 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 1.7+ MB

In [10]:
weather_data.describe()

,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
count,21864.000000,21853.000000,21853.000000,21853.000000,21864.000000,21864.000000,21864.000000,21864.000000,21864
mean,11.500000,150.390335,223.957626,374.347961,14.021030,68.338685,8.489984,10.267755,2022-04-01 11:30:00
min,0.000000,0.000000,0.000000,1.000000,-12.800000,19.000000,0.000000,0.000000,2021-01-01 00:00:00
25%,5.750000,26.000000,50.000000,78.000000,6.200000,52.000000,0.000000,6.800000,2021-08-16 17:45:00
50%,11.500000,95.000000,186.000000,292.000000,14.300000,69.000000,1.000000,9.300000,2022-04-01 11:30:00
75%,17.250000,220.000000,341.000000,568.000000,22.000000,85.000000,3.000000,12.900000,2022-11-15 05:15:00
max,23.000000,1206.000000,1264.000000,1965.000000,36.400000,100.000000,75.000000,36.700000,2023-06-30 23:00:00
std,6.922345,162.049422,200.588576,343.928606,9.581512,19.529426,18.955336,5.106673,NaN

In [11]:
bike_data['started_at']

0         2021-01-01 00:08:33
1         2021-01-01 00:13:43
2         2021-01-01 00:14:32
3         2021-01-01 00:15:45
4         2021-01-01 00:17:46
                  ...
8180621   2023-06-30 23:57:43
8180622   2023-06-30 23:58:14
8180623   2023-06-30 23:58:26
8180624   2023-06-30 23:59:01
8180625   2023-06-30 23:59:35
Name: started_at, Length: 8180626, dtype: datetime64[ns]

In [12]:
weather_data['Datetime']

0       2021-01-01 00:00:00
1       2021-01-01 01:00:00
2       2021-01-01 02:00:00
3       2021-01-01 03:00:00
4       2021-01-01 04:00:00
                ...
21859   2021-02-19 03:00:00
21860   2021-03-14 02:00:00
21861   2022-01-04 02:00:00
21862   2022-03-13 02:00:00
21863   2023-03-12 02:00:00
Name: Datetime, Length: 21864, dtype: datetime64[ns]

In [13]:
# Round 'started_at' to the nearest hour
bike_data['rounded_started_at'] = bike_data['started_at'].dt.floor('H')

# Merge based on the rounded 'started_at' and 'Datetime' columns
merged_data = pd.merge(bike_data, weather_data[['Datetime', 'temperature_2m (°C)', 'relativehumidity_2m (%)']], left_on='rounded_started_at', right_on='Datetime', how='left')

# Drop the redundant columns if needed
#merged_data = merged_data.drop(['Datetime', 'rounded_started_at'], axis=1)
merged_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,rounded_started_at,Datetime,temperature_2m (°C),relativehumidity_2m (%)
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member,2021-01-01 00:00:00,2021-01-01 00:00:00,2.4,90
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual,2021-01-01 00:00:00,2021-01-01 00:00:00,2.4,90
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member,2021-01-01 00:00:00,2021-01-01 00:00:00,2.4,90
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member,2021-01-01 00:00:00,2021-01-01 00:00:00,2.4,90
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member,2021-01-01 00:00:00,2021-01-01 00:00:00,2.4,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180621,E802A8D89245438B,electric_bike,2023-06-30 23:57:43,2023-07-01 00:07:16,NaN,NaN,14th & Newton St NW,31649.0,38.910000,-77.030000,38.931991,-77.032956,member,2023-06-30 23:00:00,2023-06-30 23:00:00,22.1,93
8180622,0448FEEB78F2B08D,classic_bike,2023-06-30 23:58:14,2023-07-01 00:24:14,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,2023-06-30 23:00:00,2023-06-30 23:00:00,22.1,93
8180623,5BE258BC59548BE9,classic_bike,2023-06-30 23:58:26,2023-07-01 00:20:06,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,2023-06-30 23:00:00,2023-06-30 23:00:00,22.1,93
8180624,5EAFC4B8F3E7680E,electric_bike,2023-06-30 23:59:01,2023-07-01 00:06:37,Adams Mill & Columbia Rd NW,31104.0,NaN,NaN,38.923005,-77.042420,38.930000,-77.030000,member,2023-06-30 23:00:00,2023-06-30 23:00:00,22.1,93
8180625,31813068FD8A3720,classic_bike,2023-06-30 23:59:35,2023-07-01 00:38:55,National Harbor Carousel,32423.0,National Harbor Carousel,32423.0,38.785900,-77.016700,38.785900,-77.016700,casual,2023-06-30 23:00:00,2023-06-30 23:00:00,22.1,93

In [14]:
weather_data['Datetime']

0       2021-01-01 00:00:00
1       2021-01-01 01:00:00
2       2021-01-01 02:00:00
3       2021-01-01 03:00:00
4       2021-01-01 04:00:00
                ...
21859   2021-02-19 03:00:00
21860   2021-03-14 02:00:00
21861   2022-01-04 02:00:00
21862   2022-03-13 02:00:00
21863   2023-03-12 02:00:00
Name: Datetime, Length: 21864, dtype: datetime64[ns]

In [15]:
merged_data['Datetime']

0         2021-01-01 00:00:00
1         2021-01-01 00:00:00
2         2021-01-01 00:00:00
3         2021-01-01 00:00:00
4         2021-01-01 00:00:00
                  ...
8180621   2023-06-30 23:00:00
8180622   2023-06-30 23:00:00
8180623   2023-06-30 23:00:00
8180624   2023-06-30 23:00:00
8180625   2023-06-30 23:00:00
Name: Datetime, Length: 8180626, dtype: datetime64[ns]

In [16]:
# Create a datetime object for comparison
comparison_datetime = datetime(2021, 1, 1, 22, 0, 0)

# Boolean indexing to filter rows where 'Datetime' is equal to the comparison datetime
filtered_data = weather_data[weather_data['Datetime'] == comparison_datetime]
filtered_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
22,2021-01-01,22,12.0,9.0,21.0,4.7,98,63,7.6,2021-01-01 22:00:00

In [17]:
merged_data[merged_data['started_at'].dt.floor('H') == comparison_datetime]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,rounded_started_at,Datetime,temperature_2m (°C),relativehumidity_2m (%)
907,7CD6E712A1C2D8B9,classic_bike,2021-01-01 22:12:00,2021-01-01 22:15:36,20th St & Florida Ave NW,31110.0,22nd & P ST NW,31285.0,38.915400,-77.044600,38.909394,-77.048728,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
908,1201E0688B44C399,electric_bike,2021-01-01 22:12:46,2021-01-01 22:22:37,NaN,NaN,14th & Girard St NW,31123.0,38.930000,-77.070000,38.925343,-77.032472,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
909,B9FDA681C66E4917,electric_bike,2021-01-01 22:14:55,2021-01-01 22:19:28,NaN,NaN,NaN,NaN,38.920000,-76.970000,38.910000,-76.980000,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
910,28C222F8F34868F3,classic_bike,2021-01-01 22:26:01,2021-01-01 22:41:50,Kenilworth Terrace & Hayes St. NE,31717.0,Kenilworth Terrace & Hayes St. NE,31717.0,38.900468,-76.947287,38.900468,-76.947287,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
911,0B877C18CC9720F1,electric_bike,2021-01-01 22:27:39,2021-01-01 22:35:04,Madison St & Fairfax St,31918.0,King St Metro South,31048.0,38.812382,-77.040728,38.805839,-77.060609,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
912,2F97F0173D36896B,classic_bike,2021-01-01 22:29:30,2021-01-01 22:39:58,14th & V St NW,31101.0,11th & M St NW,31266.0,38.917764,-77.032096,38.905578,-77.027313,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
913,235623452FCD5C1E,classic_bike,2021-01-01 22:30:22,2021-01-01 23:24:32,S Glebe Rd & Potomac Ave,31010.0,Potomac Ave & Swann Ave,31916.0,38.842600,-77.050200,38.829545,-77.047844,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
914,AAEAE2704E7224B4,classic_bike,2021-01-01 22:31:55,2021-01-01 23:24:24,S Glebe Rd & Potomac Ave,31010.0,Potomac Ave & Swann Ave,31916.0,38.842600,-77.050200,38.829545,-77.047844,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
915,06EE156030681B22,classic_bike,2021-01-01 22:32:11,2021-01-01 23:24:20,S Glebe Rd & Potomac Ave,31010.0,Potomac Ave & Swann Ave,31916.0,38.842600,-77.050200,38.829545,-77.047844,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
916,06A0D4905BD4F6B4,classic_bike,2021-01-01 22:32:26,2021-01-01 22:42:50,3rd & Elm St NW,31118.0,New Hampshire Ave & T St NW,31229.0,38.917622,-77.015970,38.915544,-77.038252,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
917,802DB08379BA3CBA,classic_bike,2021-01-01 22:32:59,2021-01-01 23:24:21,S Glebe Rd & Potomac Ave,31010.0,Potomac Ave & Swann Ave,31916.0,38.842600,-77.050200,38.829545,-77.047844,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
918,1AD8414D9390DA22,classic_bike,2021-01-01 22:33:22,2021-01-01 22:39:28,14th & Q St NW,31327.0,14th & Belmont St NW,31119.0,38.910674,-77.031880,38.921074,-77.031887,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
919,4BCCAE09A7CDB302,classic_bike,2021-01-01 22:38:35,2021-01-01 22:52:49,5th St & Massachusetts Ave NW,31265.0,11th & O St NW,31286.0,38.900930,-77.018677,38.908430,-77.027140,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
920,A86F029757B58286,electric_bike,2021-01-01 22:41:49,2021-01-01 22:48:15,14th & Belmont St NW,31119.0,NaN,NaN,38.921074,-77.031699,38.930000,-77.030000,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
921,E0DAFD08A7FA3493,classic_bike,2021-01-01 22:45:21,2021-01-01 22:50:35,14th & Newton St NW,31649.0,15th & Euclid St NW,31117.0,38.931991,-77.032956,38.923330,-77.035200,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
922,77527841135374E9,docked_bike,2021-01-01 22:45:47,2021-01-01 23:06:43,Carroll & Westmoreland Ave,32025.0,14th & Upshur St NW,31406.0,38.975000,-77.011210,38.942475,-77.032678,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
923,967BDA197973D903,electric_bike,2021-01-01 22:47:34,2021-01-01 22:59:26,Minnesota Ave Metro/DOES,31703.0,NaN,NaN,38.896999,-76.947443,38.910000,-76.980000,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
924,B2007C0B73B23352,electric_bike,2021-01-01 22:49:06,2021-01-01 22:56:49,4th St & G St SW,31666.0,3rd & H St NE,31616.0,38.881096,-77.017630,38.900372,-77.002053,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
925,55F2584BEE00EF85,electric_bike,2021-01-01 22:54:30,2021-01-01 23:09:53,NaN,NaN,14th & Q St NW,31327.0,38.880000,-77.020000,38.910643,-77.031907,member,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
926,B2FB399D01863509,docked_bike,2021-01-01 22:57:29,2021-01-01 23:21:41,Thomas Circle,31241.0,15th & L St NW,31276.0,38.905900,-77.032500,38.903649,-77.034918,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98
927,441B2A7876D0CA34,docked_bike,2021-01-01 22:57:37,2021-01-01 23:21:43,Thomas Circle,31241.0,15th & L St NW,31276.0,38.905900,-77.032500,38.903649,-77.034918,casual,2021-01-01 22:00:00,2021-01-01 22:00:00,4.7,98

In [18]:
merged_data['temperature_2m (°C)'].isna().sum()

0

In [19]:
merged_data[merged_data['temperature_2m (°C)'].isna()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, rounded_started_at, Datetime, temperature_2m (°C), relativehumidity_2m (%)]
Index: []