In [34]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import json

In [6]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_Hourly_Weather.csv'
weather_data = pd.read_csv(data_path)

In [7]:
weather_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9
...,...,...,...,...,...,...,...,...,...
21859,2021-02-19,3,NaN,NaN,NaN,-1.6,93,51,10.4
21860,2021-03-14,2,NaN,NaN,NaN,2.9,56,0,13.9
21861,2022-01-04,2,NaN,NaN,NaN,-8.7,77,0,10.1
21862,2022-03-13,2,NaN,NaN,NaN,-5.1,50,0,21.1
21863,2023-03-12,2,NaN,NaN,NaN,0.9,72,0,6.4

In [9]:
# combine 'Date' and 'Hour' columns to a new 'Datetime' column
weather_data['Datetime'] = pd.to_datetime(weather_data['Date'] + ' ' + weather_data['Hour'].astype(str) + ':00:00')

# convert Date to datetime
weather_data['Date'] = pd.to_datetime(weather_data['Date'])

In [12]:
weather_data['weathercode (wmo code)'].value_counts()

weathercode (wmo code)
0     8581
1     5057
3     3094
2     2122
51    1362
53     598
61     399
63     222
55     193
71     101
73      90
75      28
65      17
Name: count, dtype: int64

In [36]:
# load wmo codes
data_path = 'Datasets/wmo_codes.json'
with open(data_path) as json_file:
    wmo_codes = json.load(json_file)

In [41]:
wmo_codes

{'0': {'day': {'description': 'Sunny',
   'image': 'http://openweathermap.org/img/wn/01d@2x.png'},
  'night': {'description': 'Clear',
   'image': 'http://openweathermap.org/img/wn/01n@2x.png'}},
 '1': {'day': {'description': 'Mainly Sunny',
   'image': 'http://openweathermap.org/img/wn/01d@2x.png'},
  'night': {'description': 'Mainly Clear',
   'image': 'http://openweathermap.org/img/wn/01n@2x.png'}},
 '2': {'day': {'description': 'Partly Cloudy',
   'image': 'http://openweathermap.org/img/wn/02d@2x.png'},
  'night': {'description': 'Partly Cloudy',
   'image': 'http://openweathermap.org/img/wn/02n@2x.png'}},
 '3': {'day': {'description': 'Cloudy',
   'image': 'http://openweathermap.org/img/wn/03d@2x.png'},
  'night': {'description': 'Cloudy',
   'image': 'http://openweathermap.org/img/wn/03n@2x.png'}},
 '45': {'day': {'description': 'Foggy',
   'image': 'http://openweathermap.org/img/wn/50d@2x.png'},
  'night': {'description': 'Foggy',
   'image': 'http://openweathermap.org/img/wn/50n@2x.png'}},
 '48': {'day': {'description': 'Rime Fog',
   'image': 'http://openweathermap.org/img/wn/50d@2x.png'},
  'night': {'description': 'Rime Fog',
   'image': 'http://openweathermap.org/img/wn/50n@2x.png'}},
 '51': {'day': {'description': 'Light Drizzle',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Light Drizzle',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '53': {'day': {'description': 'Drizzle',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Drizzle',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '55': {'day': {'description': 'Heavy Drizzle',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Heavy Drizzle',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '56': {'day': {'description': 'Light Freezing Drizzle',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Light Freezing Drizzle',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '57': {'day': {'description': 'Freezing Drizzle',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Freezing Drizzle',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '61': {'day': {'description': 'Light Rain',
   'image': 'http://openweathermap.org/img/wn/10d@2x.png'},
  'night': {'description': 'Light Rain',
   'image': 'http://openweathermap.org/img/wn/10n@2x.png'}},
 '63': {'day': {'description': 'Rain',
   'image': 'http://openweathermap.org/img/wn/10d@2x.png'},
  'night': {'description': 'Rain',
   'image': 'http://openweathermap.org/img/wn/10n@2x.png'}},
 '65': {'day': {'description': 'Heavy Rain',
   'image': 'http://openweathermap.org/img/wn/10d@2x.png'},
  'night': {'description': 'Heavy Rain',
   'image': 'http://openweathermap.org/img/wn/10n@2x.png'}},
 '66': {'day': {'description': 'Light Freezing Rain',
   'image': 'http://openweathermap.org/img/wn/10d@2x.png'},
  'night': {'description': 'Light Freezing Rain',
   'image': 'http://openweathermap.org/img/wn/10n@2x.png'}},
 '67': {'day': {'description': 'Freezing Rain',
   'image': 'http://openweathermap.org/img/wn/10d@2x.png'},
  'night': {'description': 'Freezing Rain',
   'image': 'http://openweathermap.org/img/wn/10n@2x.png'}},
 '71': {'day': {'description': 'Light Snow',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Light Snow',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '73': {'day': {'description': 'Snow',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Snow',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '75': {'day': {'description': 'Heavy Snow',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Heavy Snow',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '77': {'day': {'description': 'Snow Grains',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Snow Grains',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '80': {'day': {'description': 'Light Showers',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Light Showers',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '81': {'day': {'description': 'Showers',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Showers',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '82': {'day': {'description': 'Heavy Showers',
   'image': 'http://openweathermap.org/img/wn/09d@2x.png'},
  'night': {'description': 'Heavy Showers',
   'image': 'http://openweathermap.org/img/wn/09n@2x.png'}},
 '85': {'day': {'description': 'Light Snow Showers',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Light Snow Showers',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '86': {'day': {'description': 'Snow Showers',
   'image': 'http://openweathermap.org/img/wn/13d@2x.png'},
  'night': {'description': 'Snow Showers',
   'image': 'http://openweathermap.org/img/wn/13n@2x.png'}},
 '95': {'day': {'description': 'Thunderstorm',
   'image': 'http://openweathermap.org/img/wn/11d@2x.png'},
  'night': {'description': 'Thunderstorm',
   'image': 'http://openweathermap.org/img/wn/11n@2x.png'}},
 '96': {'day': {'description': 'Light Thunderstorms With Hail',
   'image': 'http://openweathermap.org/img/wn/11d@2x.png'},
  'night': {'description': 'Light Thunderstorms With Hail',
   'image': 'http://openweathermap.org/img/wn/11n@2x.png'}},
 '99': {'day': {'description': 'Thunderstorm With Hail',
   'image': 'http://openweathermap.org/img/wn/11d@2x.png'},
  'night': {'description': 'Thunderstorm With Hail',
   'image': 'http://openweathermap.org/img/wn/11n@2x.png'}}}

In [40]:
wmo_codes['0']['day']['description']

'Sunny'

In [42]:
wmo_codes['0']['night']['description']

'Clear'

In [11]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     21864 non-null  object
 1   Hour                     21864 non-null  int64
 2   Casual                   21853 non-null  float64
 3   Member                   21853 non-null  float64
 4   Total_rides              21853 non-null  float64
 5   temperature_2m (°C)      21864 non-null  float64
 6   relativehumidity_2m (%)  21864 non-null  int64
 7   weathercode (wmo code)   21864 non-null  int64
 8   windspeed_10m (km/h)     21864 non-null  float64
 9   Datetime                 21864 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 1.7+ MB