In [5]:
#imports
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_Hourly_Weather.csv'
weather_data = pd.read_csv(data_path)

In [7]:
weather_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9
...,...,...,...,...,...,...,...,...,...
21859,2021-02-19,3,NaN,NaN,NaN,-1.6,93,51,10.4
21860,2021-03-14,2,NaN,NaN,NaN,2.9,56,0,13.9
21861,2022-01-04,2,NaN,NaN,NaN,-8.7,77,0,10.1
21862,2022-03-13,2,NaN,NaN,NaN,-5.1,50,0,21.1
21863,2023-03-12,2,NaN,NaN,NaN,0.9,72,0,6.4

In [9]:
# Combine 'Date' and 'Hour' columns to a new 'Datetime' column
weather_data['Datetime'] = pd.to_datetime(weather_data['Date'] + ' ' + weather_data['Hour'].astype(str) + ':00:00')

In [12]:
weather_data['weathercode (wmo code)'].value_counts()

weathercode (wmo code)
0     8581
1     5057
3     3094
2     2122
51    1362
53     598
61     399
63     222
55     193
71     101
73      90
75      28
65      17
Name: count, dtype: int64

In [14]:
weather_data[weather_data['weathercode (wmo code)'] == 71]

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
578,2021-01-25,4,3.0,2.0,5.0,0.4,66,71,5.9,2021-01-25 04:00:00
592,2021-01-25,18,11.0,80.0,91.0,2.2,62,71,8.4,2021-01-25 18:00:00
600,2021-01-26,2,1.0,1.0,2.0,0.2,92,71,10.8,2021-01-26 02:00:00
601,2021-01-26,3,1.0,2.0,3.0,-0.1,90,71,11.6,2021-01-26 03:00:00
606,2021-01-26,8,13.0,84.0,97.0,0.1,96,71,5.8,2021-01-26 08:00:00
...,...,...,...,...,...,...,...,...,...,...
18846,2023-02-25,16,142.0,234.0,376.0,3.2,89,71,9.5,2023-02-25 16:00:00
19206,2023-03-12,17,97.0,185.0,282.0,4.6,79,71,7.6,2023-03-12 17:00:00
19207,2023-03-12,18,66.0,156.0,222.0,4.2,84,71,6.8,2023-03-12 18:00:00
21855,2021-02-02,3,NaN,NaN,NaN,0.3,86,71,19.8,2021-02-02 03:00:00
21858,2021-02-19,2,NaN,NaN,NaN,-1.1,94,71,10.9,2021-02-19 02:00:00

In [16]:
weather_data[weather_data['weathercode (wmo code)'] == 71].describe()

,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
count,101.000000,99.000000,99.000000,99.000000,101.000000,101.000000,101.0,101.000000,101
mean,9.693069,25.838384,73.161616,99.000000,0.852475,79.752475,71.0,12.192079,2021-09-11 21:05:56.435643648
min,0.000000,0.000000,0.000000,1.000000,-3.400000,51.000000,71.0,5.400000,2021-01-25 04:00:00
25%,4.000000,6.000000,8.500000,14.000000,-0.400000,70.000000,71.0,8.400000,2021-02-02 16:00:00
50%,9.000000,12.000000,38.000000,50.000000,0.400000,81.000000,71.0,10.800000,2021-02-19 14:00:00
75%,15.000000,43.500000,113.000000,163.000000,2.200000,89.000000,71.0,15.000000,2022-01-29 04:00:00
max,23.000000,142.000000,548.000000,635.000000,5.500000,99.000000,71.0,28.800000,2023-03-12 18:00:00
std,6.244586,29.460006,87.520925,113.910097,1.881520,11.776592,0.0,5.367657,NaN

In [11]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     21864 non-null  object
 1   Hour                     21864 non-null  int64
 2   Casual                   21853 non-null  float64
 3   Member                   21853 non-null  float64
 4   Total_rides              21853 non-null  float64
 5   temperature_2m (°C)      21864 non-null  float64
 6   relativehumidity_2m (%)  21864 non-null  int64
 7   weathercode (wmo code)   21864 non-null  int64
 8   windspeed_10m (km/h)     21864 non-null  float64
 9   Datetime                 21864 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 1.7+ MB